.event--form{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    align-items: center;
    text-align: center;
}

fieldset input, fieldset select {
    text-align: center;
}

.event {
    margin-bottom: 10px;
    border: 1px solid gray;
}

#leave {
    background-color: rgb(172, 52, 52);
    border-radius: 15px;
}
#join {
    background-color: green;
    border-radius: 15px;
}

#delete {
    background-color: rgb(151, 30, 181);
    border-radius: 15px;
}